.flag {
  width: 31px;
  height: 20px;
  /* background-size: 100% auto; */
  display: inline-block;
  vertical-align: sub;
  margin-right: 10px;
  background-position-x: -0.5px;
  background-repeat: no-repeat;
}

.flag.vn,
.flag.VN,
.flag.vi-vi,
.flag.VI-VI {
  background-position-y: calc(-7584px - 6px);
}

.flag.al,
.flag.AL {
  background-position-y: calc(-864px - 6px);
}

.flag.dz,
.flag.DZ {
  background-position-y: calc(-2464px - 6px);
}

.flag.af,
.flag.AF {
  background-position-y: calc(-768px - 6px);
}

.flag.ar,
.flag.AR {
  background-position-y: calc(-1024px - 6px);
}

.flag.ae,
.flag.AE {
  background-position-y: calc(-736px - 6px);
}

.flag.aw,
.flag.AW {
  background-position-y: calc(-1152px - 6px);
}

.flag.om,
.flag.OM {
  background-position-y: calc(-5664px - 6px);
}

.flag.az,
.flag.AZ {
  background-position-y: calc(-1184px - 6px);
}

.flag.eg,
.flag.EG {
  background-position-y: calc(-2560px - 6px);
}

.flag.et,
.flag.ET {
  background-position-y: calc(-2688px - 6px);
}

.flag.ie,
.flag.IE {
  background-position-y: calc(-3616px - 6px);
}

.flag.ee,
.flag.EE {
  background-position-y: calc(-2528px - 6px);
}

.flag.ad,
.flag.AD {
  background-position-y: calc(-704px - 6px);
}

.flag.ao,
.flag.AO {
  background-position-y: calc(-960px - 6px);
}

.flag.ai,
.flag.AI {
  background-position-y: calc(-832px - 6px);
}

.flag.ag,
.flag.AG {
  background-position-y: calc(-800px - 6px);
}

.flag.at,
.flag.AT {
  background-position-y: calc(-1088px - 6px);
}

.flag.au,
.flag.AU {
  background-position-y: calc(-1120px - 6px);
}

.flag.mo,
.flag.MO {
  background-position-y: calc(-4992px - 6px);
}

.flag.bb,
.flag.BB {
  background-position-y: calc(-1248px - 6px);
}

.flag.pg,
.flag.PG {
  background-position-y: calc(-5792px - 6px);
}

.flag.bs,
.flag.BS {
  background-position-y: calc(-1632px - 6px);
}

.flag.pk,
.flag.PK {
  background-position-y: calc(-5856px - 6px);
}

.flag.py,
.flag.PY {
  background-position-y: calc(-6048px - 6px);
}

.flag.ps,
.flag.PS {
  background-position-y: calc(-5952px - 6px);
}

.flag.bh,
.flag.BH {
  background-position-y: calc(-1408px - 6px);
}

.flag.pa,
.flag.PA {
  background-position-y: calc(-5696px - 6px);
}

.flag.br,
.flag.BR {
  background-position-y: calc(-1600px - 6px);
}

.flag.by,
.flag.BY {
  background-position-y: calc(-1728px - 6px);
}

.flag.bm,
.flag.BM {
  background-position-y: calc(-1504px - 6px);
}

.flag.bg,
.flag.BG {
  background-position-y: calc(-1376px - 6px);
}

.flag.mp,
.flag.MP {
  background-position-y: calc(-8032px - 6px);
}

.flag.bj,
.flag.BJ {
  background-position-y: calc(-1472px - 6px);
}

.flag.be,
.flag.BE {
  background-position-y: calc(-1312px - 6px);
}

.flag.is,
.flag.IS {
  background-position-y: calc(-3808px - 6px);
}

.flag.pr,
.flag.PR {
  background-position-y: calc(-5920px - 6px);
}

.flag.pl,
.flag.PL {
  background-position-y: calc(-5888px - 6px);
}

.flag.ba,
.flag.BA {
  background-position-y: calc(-1216px - 6px);
}

.flag.bo,
.flag.BO {
  background-position-y: calc(-1568px - 6px);
}

.flag.bz,
.flag.BZ {
  background-position-y: calc(-1760px - 6px);
}

.flag.pw,
.flag.PW {
  background-position-y: calc(-6016px - 6px);
}

.flag.bw,
.flag.BW {
  background-position-y: calc(-1696px - 6px);
}

.flag.bt,
.flag.BT {
  background-position-y: calc(-1664px - 6px);
}

.flag.bf,
.flag.BF {
  background-position-y: calc(-1344px - 6px);
}

.flag.bi,
.flag.BI {
  background-position-y: calc(-1440px - 6px);
}

.flag.kp,
.flag.KP {
  background-position-y: calc(-4192px - 6px);
}

.flag.gq,
.flag.GQ {
  background-position-y: calc(-3232px - 6px);
}

.flag.dk,
.flag.DK {
  background-position-y: calc(-2368px - 6px);
}

.flag.de,
.flag.DE {
  background-position-y: calc(-2304px - 6px);
}

.flag.tl,
.flag.TL {
  background-position-y: calc(-6976px - 6px);
}

.flag.tg,
.flag.TG {
  background-position-y: calc(-6880px - 6px);
}

.flag.dm,
.flag.DM {
  background-position-y: calc(-2400px - 6px);
}

.flag.do,
.flag.DO {
  background-position-y: calc(-2432px - 6px);
}

.flag.ru,
.flag.RU {
  background-position-y: calc(-6208px - 6px);
}

.flag.ec,
.flag.EC {
  background-position-y: calc(-2496px - 6px);
}

.flag.er,
.flag.ER {
  background-position-y: calc(-2624px - 6px);
}

.flag.fr,
.flag.FR {
  background-position-y: calc(-2848px - 6px);
}

.flag.fo,
.flag.FO {
  background-position-y: calc(-2816px - 6px);
}

.flag.pf,
.flag.PF {
  background-position-y: calc(-5760px - 6px);
}

.flag.gf,
.flag.GF {
  background-position-y: calc(-7936px - 6px);
}

.flag.pm,
.flag.PM {
  background-position-y: calc(-8128px - 6px);
}

.flag.va,
.flag.VA {
  background-position-y: calc(-7424px - 6px);
}

.flag.ph,
.flag.PH {
  background-position-y: calc(-5824px - 6px);
}

.flag.fj,
.flag.FJ {
  background-position-y: calc(-2752px - 6px);
}

.flag.fi,
.flag.FI {
  background-position-y: calc(-2720px - 6px);
}

.flag.cv,
.flag.CV {
  background-position-y: calc(-2208px - 6px);
}

.flag.fk,
.flag.FK {
  background-position-y: calc(-7904px - 6px);
}

.flag.gm,
.flag.GM {
  background-position-y: calc(-3136px - 6px);
}

.flag.cg,
.flag.CG {
  background-position-y: calc(-1824px - 6px);
}

.flag.cd,
.flag.CD {
  background-position-y: calc(-1888px - 6px);
}

.flag.co,
.flag.CO {
  background-position-y: calc(-2112px - 6px);
}

.flag.cr,
.flag.CR {
  background-position-y: calc(-2144px - 6px);
}

.flag.gd,
.flag.GD {
  background-position-y: calc(-2944px - 6px);
}

.flag.gl,
.flag.GL {
  background-position-y: calc(-3104px - 6px);
}

.flag.ge,
.flag.GE {
  background-position-y: calc(-2976px - 6px);
}

.flag.gg,
.flag.GG {
  background-position-y: calc(-3008px - 6px);
}

.flag.cu,
.flag.CU {
  background-position-y: calc(-2176px - 6px);
}

.flag.gp,
.flag.GP {
  background-position-y: calc(-3200px - 6px);
}

.flag.gu,
.flag.GU {
  background-position-y: calc(-3328px - 6px);
}

.flag.gy,
.flag.GY {
  background-position-y: calc(-3392px - 6px);
}

.flag.kz,
.flag.KZ {
  background-position-y: calc(-4320px - 6px);
}

.flag.ht,
.flag.HT {
  background-position-y: calc(-3520px - 6px);
}

.flag.kr,
.flag.KR {
  background-position-y: calc(-4224px - 6px);
}

.flag.nl,
.flag.NL {
  background-position-y: calc(-5504px - 6px);
}

.flag.bq,
.flag.BQ {
  background-position-y: calc(-7840px - 6px);
}

.flag.me,
.flag.ME {
  background-position-y: calc(-4768px - 6px);
}

.flag.hn,
.flag.HN {
  background-position-y: calc(-3456px - 6px);
}

.flag.ki,
.flag.KI {
  background-position-y: calc(-4096px - 6px);
}

.flag.dj,
.flag.DJ {
  background-position-y: calc(-2336px - 6px);
}

.flag.kg,
.flag.KG {
  background-position-y: calc(-4032px - 6px);
}

.flag.gn,
.flag.GN {
  background-position-y: calc(-3168px - 6px);
}

.flag.gw,
.flag.GW {
  background-position-y: calc(-3360px - 6px);
}

.flag.ca,
.flag.CA {
  background-position-y: calc(-1792px - 6px);
}

.flag.gh,
.flag.GH {
  background-position-y: calc(-3040px - 6px);
}

.flag.ga,
.flag.GA {
  background-position-y: calc(-2880px - 6px);
}

.flag.kh,
.flag.KH {
  background-position-y: calc(-4064px - 6px);
}

.flag.cz,
.flag.CZ {
  background-position-y: calc(-2272px - 6px);
}

.flag.zw,
.flag.ZW {
  background-position-y: calc(-7776px - 6px);
}

.flag.cm,
.flag.CM {
  background-position-y: calc(-2048px - 6px);
}

.flag.qa,
.flag.QA {
  background-position-y: calc(-6080px - 6px);
}

.flag.ky,
.flag.KY {
  background-position-y: calc(-4288px - 6px);
}

.flag.km,
.flag.KM {
  background-position-y: calc(-4128px - 6px);
}

.flag.xk,
.flag.XK {
  background-position-y: calc(-8320px - 6px);
}

.flag.ci,
.flag.CI {
  background-position-y: calc(-1952px - 6px);
}

.flag.kw,
.flag.KW {
  background-position-y: calc(-4256px - 6px);
}

.flag.hr,
.flag.HR {
  background-position-y: calc(-3488px - 6px);
}

.flag.ke,
.flag.KE {
  background-position-y: calc(-4000px - 6px);
}

.flag.ck,
.flag.CK {
  background-position-y: calc(-1984px - 6px);
}

.flag.cw,
.flag.CW {
  background-position-y: calc(-7872px - 6px);
}

.flag.lv,
.flag.LV {
  background-position-y: calc(-4640px - 6px);
}

.flag.ls,
.flag.LS {
  background-position-y: calc(-4544px - 6px);
}

.flag.la,
.flag.LA {
  background-position-y: calc(-4352px - 6px);
}

.flag.lb,
.flag.LB {
  background-position-y: calc(-4384px - 6px);
}

.flag.lt,
.flag.LT {
  background-position-y: calc(-4576px - 6px);
}

.flag.lr,
.flag.LR {
  background-position-y: calc(-4512px - 6px);
}

.flag.ly,
.flag.LY {
  background-position-y: calc(-4672px - 6px);
}

.flag.li,
.flag.LI {
  background-position-y: calc(-4448px - 6px);
}

.flag.re,
.flag.RE {
  background-position-y: calc(-6112px - 6px);
}

.flag.lu,
.flag.LU {
  background-position-y: calc(-4608px - 6px);
}

.flag.rw,
.flag.RW {
  background-position-y: calc(-6240px - 6px);
}

.flag.ro,
.flag.RO {
  background-position-y: calc(-6144px - 6px);
}

.flag.mg,
.flag.MG {
  background-position-y: calc(-4800px - 6px);
}

.flag.im,
.flag.IM {
  background-position-y: calc(-3680px - 6px);
}

.flag.mv,
.flag.MV {
  background-position-y: calc(-5184px - 6px);
}

.flag.mt,
.flag.MT {
  background-position-y: calc(-5120px - 6px);
}

.flag.mw,
.flag.MW {
  background-position-y: calc(-5216px - 6px);
}

.flag.my,
.flag.MY {
  background-position-y: calc(-5280px - 6px);
}

.flag.ml,
.flag.ML {
  background-position-y: calc(-4896px - 6px);
}

.flag.mk,
.flag.MK {
  background-position-y: calc(-4864px - 6px);
}

.flag.mh,
.flag.MH {
  background-position-y: calc(-4832px - 6px);
}

.flag.mq,
.flag.MQ {
  background-position-y: calc(-5024px - 6px);
}

.flag.yt,
.flag.YT {
  background-position-y: calc(-8352px - 6px);
}

.flag.mu,
.flag.MU {
  background-position-y: calc(-5152px - 6px);
}

.flag.mr,
.flag.MR {
  background-position-y: calc(-5056px - 6px);
}

.flag.us,
.flag.US {
  background-position-y: calc(-7328px - 6px);
}

.flag.as,
.flag.AS {
  background-position-y: calc(-1056px - 6px);
}

.flag.vi,
.flag.VI {
  background-position-y: calc(-7552px - 6px);
}

.flag.mn,
.flag.MN {
  background-position-y: calc(-4960px - 6px);
}

.flag.ms,
.flag.MS {
  background-position-y: calc(-5088px - 6px);
}

.flag.bd,
.flag.BD {
  background-position-y: calc(-1280px - 6px);
}

.flag.pe,
.flag.PE {
  background-position-y: calc(-5728px - 6px);
}

.flag.fm,
.flag.FM {
  background-position-y: calc(-2784px - 6px);
}

.flag.mm,
.flag.MM {
  background-position-y: calc(-4928px - 6px);
}

.flag.md,
.flag.MD {
  background-position-y: calc(-4736px - 6px);
}

.flag.ma,
.flag.MA {
  background-position-y: calc(-4704px - 6px);
}

.flag.mc,
.flag.MC {
  background-position-y: calc(-3584px - 6px);
}

.flag.mz,
.flag.MZ {
  background-position-y: calc(-5312px - 6px);
}

.flag.mx,
.flag.MX {
  background-position-y: calc(-5248px - 6px);
}

.flag.na,
.flag.NA {
  background-position-y: calc(-5344px - 6px);
}

.flag.za,
.flag.ZA {
  background-position-y: calc(-7712px - 6px);
}

.flag.ss,
.flag.SS {
  background-position-y: calc(-8192px - 6px);
}

.flag.nr,
.flag.NR {
  background-position-y: calc(-5600px - 6px);
}

.flag.ni,
.flag.NI {
  background-position-y: calc(-5472px - 6px);
}

.flag.np,
.flag.NP {
  background-position-y: calc(-5568px - 6px);
}

.flag.ne,
.flag.NE {
  background-position-y: calc(-5408px - 6px);
}

.flag.ng,
.flag.NG {
  background-position-y: calc(-5440px - 6px);
}

.flag.nu,
.flag.NU {
  background-position-y: calc(-8096px - 6px);
}

.flag.no,
.flag.NO {
  background-position-y: calc(-5536px - 6px);
}

.flag.nf,
.flag.NF {
  background-position-y: calc(-8064px - 6px);
}

.flag.pt,
.flag.PT {
  background-position-y: calc(-5984px - 6px);
}

.flag.jp,
.flag.JP {
  background-position-y: calc(-3968px - 6px);
}

.flag.se,
.flag.SE {
  background-position-y: calc(-6400px - 6px);
}

.flag.ch,
.flag.CH {
  background-position-y: calc(-1920px - 6px);
}

.flag.sv,
.flag.SV {
  background-position-y: calc(-6720px - 6px);
}

.flag.ws,
.flag.WS {
  background-position-y: calc(-7648px - 6px);
}

.flag.rs,
.flag.RS {
  background-position-y: calc(-6176px - 6px);
}

.flag.sl,
.flag.SL {
  background-position-y: calc(-6528px - 6px);
}

.flag.sn,
.flag.SN {
  background-position-y: calc(-6592px - 6px);
}

.flag.cy,
.flag.CY {
  background-position-y: calc(-2240px - 6px);
}

.flag.sc,
.flag.SC {
  background-position-y: calc(-6336px - 6px);
}

.flag.sa,
.flag.SA {
  background-position-y: calc(-6272px - 6px);
}

.flag.bl,
.flag.BL {
  background-position-y: calc(-7808px - 6px);
}

.flag.st,
.flag.ST {
  background-position-y: calc(-6688px - 6px);
}

.flag.sh,
.flag.SH {
  background-position-y: calc(-8160px - 6px);
}

.flag.kn,
.flag.KN {
  background-position-y: calc(-4160px - 6px);
}

.flag.lc,
.flag.LC {
  background-position-y: calc(-4416px - 6px);
}

.flag.mf,
.flag.MF {
  background-position-y: calc(-8000px - 6px);
}

.flag.sx,
.flag.SX {
  background-position-y: calc(-8224px - 6px);
}

.flag.sm,
.flag.SM {
  background-position-y: calc(-6560px - 6px);
}

.flag.vc,
.flag.VC {
  background-position-y: calc(-7456px - 6px);
}

.flag.lk,
.flag.LK {
  background-position-y: calc(-4480px - 6px);
}

.flag.sk,
.flag.SK {
  background-position-y: calc(-6496px - 6px);
}

.flag.si,
.flag.SI {
  background-position-y: calc(-6464px - 6px);
}

.flag.sz,
.flag.SZ {
  background-position-y: calc(-6784px - 6px);
}

.flag.sd,
.flag.SD {
  background-position-y: calc(-6368px - 6px);
}

.flag.sr,
.flag.SR {
  background-position-y: calc(-6656px - 6px);
}

.flag.sb,
.flag.SB {
  background-position-y: calc(-6304px - 6px);
}

.flag.so,
.flag.SO {
  background-position-y: calc(-6624px - 6px);
}

.flag.tj,
.flag.TJ {
  background-position-y: calc(-6944px - 6px);
}

.flag.tw,
.flag.TW {
  background-position-y: calc(-7200px - 6px);
}

.flag.th,
.flag.TH {
  background-position-y: calc(-6912px - 6px);
}

.flag.tz,
.flag.TZ {
  background-position-y: calc(-7232px - 6px);
}

.flag.to,
.flag.TO {
  background-position-y: calc(-7072px - 6px);
}

.flag.tc,
.flag.TC {
  background-position-y: calc(-6816px - 6px);
}

.flag.tt,
.flag.TT {
  background-position-y: calc(-7136px - 6px);
}

.flag.tn,
.flag.TN {
  background-position-y: calc(-7040px - 6px);
}

.flag.tv,
.flag.TV {
  background-position-y: calc(-7168px - 6px);
}

.flag.tr,
.flag.TR {
  background-position-y: calc(-7104px - 6px);
}

.flag.tm,
.flag.TM {
  background-position-y: calc(-7008px - 6px);
}

.flag.tk,
.flag.TK {
  background-position-y: calc(-8256px - 6px);
}

.flag.wf,
.flag.WF {
  background-position-y: calc(-8288px - 6px);
}

.flag.vu,
.flag.VU {
  background-position-y: calc(-7616px - 6px);
}

.flag.gt,
.flag.GT {
  background-position-y: calc(-3296px - 6px);
}

.flag.ve,
.flag.VE {
  background-position-y: calc(-7488px - 6px);
}

.flag.bn,
.flag.BN {
  background-position-y: calc(-1536px - 6px);
}

.flag.ug,
.flag.UG {
  background-position-y: calc(-7296px - 6px);
}

.flag.ua,
.flag.UA {
  background-position-y: calc(-7264px - 6px);
}

.flag.uy,
.flag.UY {
  background-position-y: calc(-7360px - 6px);
}

.flag.uz,
.flag.UZ {
  background-position-y: calc(-7392px - 6px);
}

.flag.gr,
.flag.GR {
  background-position-y: calc(-3264px - 6px);
}

.flag.es,
.flag.ES {
  background-position-y: calc(-2656px - 6px);
}

.flag.eh,
.flag.EH {
  background-position-y: calc(-2592px - 6px);
}

.flag.hk,
.flag.HK {
  background-position-y: calc(-3424px - 6px);
}

.flag.sg,
.flag.SG {
  background-position-y: calc(-6432px - 6px);
}

.flag.nc,
.flag.NC {
  background-position-y: calc(-5376px - 6px);
}

.flag.nz,
.flag.NZ {
  background-position-y: calc(-5632px - 6px);
}

.flag.hu,
.flag.HU {
  background-position-y: calc(-3552px - 6px);
}

.flag.sy,
.flag.SY {
  background-position-y: calc(-6752px - 6px);
}

.flag.jm,
.flag.JM {
  background-position-y: calc(-3904px - 6px);
}

.flag.am,
.flag.AM {
  background-position-y: calc(-896px - 6px);
}

.flag.ye,
.flag.YE {
  background-position-y: calc(-7680px - 6px);
}

.flag.iq,
.flag.IQ {
  background-position-y: calc(-3744px - 6px);
}

.flag.ir,
.flag.IR {
  background-position-y: calc(-3776px - 6px);
}

.flag.il,
.flag.IL {
  background-position-y: calc(-3648px - 6px);
}

.flag.it,
.flag.IT {
  background-position-y: calc(-3840px - 6px);
}

.flag.in,
.flag.IN {
  background-position-y: calc(-3712px - 6px);
}

.flag.id,
.flag.ID {
  background-position-y: calc(-3584px - 6px);
}

.flag.gb,
.flag.GB,
.flag.en-en,
.flag.EN-EN {
  background-position-y: calc(-2912px - 6px);
}

.flag.vg,
.flag.VG {
  background-position-y: calc(-7520px - 6px);
}

.flag.io,
.flag.IO {
  background-position-y: calc(-7968px - 6px);
}

.flag.jo,
.flag.JO {
  background-position-y: calc(-3936px - 6px);
}

.flag.zm,
.flag.ZM {
  background-position-y: calc(-7744px - 6px);
}

.flag.je,
.flag.JE {
  background-position-y: calc(-3872px - 6px);
}

.flag.td,
.flag.TD {
  background-position-y: calc(-6848px - 6px);
}

.flag.gi,
.flag.GI {
  background-position-y: calc(-3072px - 6px);
}

.flag.cl,
.flag.CL {
  background-position-y: calc(-2016px - 6px);
}

.flag.cf,
.flag.CF {
  background-position-y: calc(-1856px - 6px);
}

.flag.cn,
.flag.CN {
  background-position-y: calc(-2080px - 6px);
}
